@charset "utf-8";
/* CSS Document */
h1 {
	color:white;
	text-align:center;
}
h3 {
	width: 600px;
	color:white;
}
body {
	background-color:#FF3300;
	font-weight:bold;
	color:#FFFFFF;
	font-size:24px;
	font-weight:bold;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
input.mail {
	line-height: 26px; /* 文字の高さ */
	margin: 0px; /* 余白を消す */
	background-color: #FCF; /* 背景 */
	border: 1px solid #999999; /* 罫線 */
	width: 300px; /* 幅 */
	padding-top: 0px; /* 余白 */
	padding-right: 5px; /* 余白 */
	padding-bottom: 0px; /* 余白 */
	padding-left: 5px; /* 余白 */
	height: 30px; /* 高さ */
	font-size:24px;
	font-weight:bold;
}
input.submit {
	line-height: 26px; /* 文字の高さ */
	font-size:24px;
	text-align:center;
	margin-right:auto;
	margin-left:auto;
}
input.pw {
	line-height: 26px; /* 文字の高さ */
	margin: 0px; /* 余白を消す */
	background-color:#FF6; /* 背景 */
	border: 1px solid #999999; /* 罫線 */
	width: 300px; /* 幅 */
	padding-top: 0px; /* 余白 */
	padding-right: 5px; /* 余白 */
	padding-bottom: 0px; /* 余白 */
	padding-left: 5px; /* 余白 */
	height: 30px; /* 高さ */
	font-size:24px;
	font-weight:bold;
	color:#F00;
}
table {
	position:relative;
	margin-left:auto;
	margin-right:auto;
}
tr{
	height:40px;
}
td.in {
	font-size:24px;
	font-weight:bold;
	color:white;
}
div#main{
	width:90%;
	text-align:center
	margin-left:auto;
	margin-right:auto;
}
.watermark {
	color: white;
}