@charset "utf-8";
/* CSS Document */

body{ 
		background-color:#6FC;
		background-image: url(test/Basclass_Images/logo_blue.jpg); 
		background-repeat: repeat;
}
h1{
		margin-left:auto;
		margin-right:auto;
		padding: 0.5em;
		font-weight: bold;
		font-size: 20pt;
		text-align: center;
		color:#FFF;
		background-color:#00C;
		border-color: transparent;
		width:95%;
		line-height:28pt;
}
.index_table{
		margin-left:auto;
		margin-right:auto;
		padding: 4px;
		font-weight: bold;
		font-size: 14pt;
		text-align: center;
		color:#FFF;
		background-color:#33F;
		border-color: transparent;
		width:70%;
}	
.index_table2 {
		margin-left:auto;
		margin-right:auto;
		padding: 4px;
		font-weight: bold;
		font-size: 14pt;
		text-align: center;
		color:black;
		background-color:#A3A3A3;
		border-color: transparent;
		width:50%;
}		
div#title{
		margin-left:auto;
		margin-right:auto;
		padding: 0.5em;
		font-weight: bold;
		font-size: 20pt;
		text-align: center;
		color:#FFF;
		background-color:#00C;
		border-color: transparent;
		width:95%;
		line-height:28pt;
}
div#eng_title{
	font-weight:bold;
	font-size:18pt;
	color:red;
	background-color:white;
	text-align:center;
}
div#main {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
div.center {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	height:600px;
	border:1px solid #cccccc;  
    position: relative;  
}
div#lower { 
    position: absolute;  
    right: 0;  
    bottom: 0; 
}
button.toplines {
	border:4px solid red;
	background-color:white;
	color:red;
	font-size:22px;
	font-weight:bold;
}
button.newmember {
	border:2px solid blue;
	background-color:#3FF;
	color:#0000FF;
	font-size:14px;
	font-weight:bold;
}
button#payment {
	border:4px solid red;
	background-color:white;
	color:red;
	font-size:36px;
	font-weight:bold;
	padding:4px;
}	
button#abstract {
	border:4px solid brown;
	background-color:yellow;
	color:green;
	font-size:32px;
	font-weight:bold;
	padding:4px;
}	
p.welcome {
	background-color:white;
	font-weight:bold;
	color:blue;
	text-align:right;
}
p.menu {
	background-color:white;
	font-weight:bold;
	color:blue;
	font-size:24px;
	text-align:center;
}
button.logout {
	border:4px solid red;
	background-color:red;
	color:white;
	font-size:14px;
	font-weight:bold;
	position:absolute;
	top:10px;
	left:0;
}
.registered_table{
	margin-left:auto;
	margin-right:auto;
	border:2px black solid;
	font-size:16px;
	font-weight:bold;
	color:yellow;
	background-color:grey;
}
.abstract_table{
	margin-left:auto;
	margin-right:auto;
	border:2px blue solid;
	font-size:16px;
	font-weight:bold;
	color:red;
	background-color:white;
}
h3#abstract_table{
		margin-left:auto;
		margin-right:auto;
		padding: 0em;
		font-weight: bold;
		font-size: 12pt;
		text-align: center;
		color:red;
		background-color:white;
		border-color: transparent;
		width:90%;
		line-height:14pt;
}
div#explanation {
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	border:2px solid #F00;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	color:#F00;
	background-color:#FFF;
	font-size:16px;
	font-weight:bold;
	text-align:left;
	line-height:20px;
}
.submit_index {
	border;2px solid green;
	background-color:yellow;
	color:red;
	font-size:18px;
	font-weight:bold;
}
