@charset "utf-8";
/* CSS Document */
h1 {
	background-color:blue;
	color:white;
	font-size:26px;
	font-weight:bold;
	text-align:center;
}
h3 {
	width: 600px;
	text-align:center;
	color:red;
	font-size:22px;
	font-weight:bold;
	margin-left:auto;
	margin-right:auto;
}
body {
	background-color:#FFC;
	font-weight:bold;
	color:#03C;
	font-size:20px;
	margin-left:auto;
	margin-right:auto;
}
input#submit {
	line-height: 26px; /* 文字の高さ */
	font-size:24px;
	font-weight:bold;
	text-align:center;
}
input.submit {
	line-height: 26px; /* 文字の高さ */
	font-size:24px;
	font-weight:bold;
	text-align:center;
}	
table {
	margin-left:auto;
	margin-right:auto;
}
tr{
	height:40px;
}
td.title {
	width:400px;
}
td.content {
	width:450px;
}
div#main {
	text-align:center;
	widows:80%;
	margin-left:auto;
	margin-right:auto;
}
